{% extends "page.html" %}
{% load thumbnail %}

{% block metatitle %}{{object.metatitle}}{% endblock %}
{% block content %}
{% for object in objects %}
  <h1 align="center"><a href="{{object.get_absolute_url}}">{{object.year}}: {{object.title}}</a></h1>
{% thumbnail object.image "600x200" crop="center" as im %}
    <center><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></center>
{% endthumbnail %}
  <div class="project-description">{{object.content|safe|truncatewords:"40"}} <a href="{{object.get_absolute_url}}">Read More >></a></div>
  <hr/>
  
  
{% endfor %}
{% endblock %}

{% block sidebar %}
                    <div class="box">
                        <h3 align="center">Projects</h3>
                        
                        

                    </div>



{% endblock %}
