{% extends "projects/project_base.html" %}
{% load thumbnail %}

{% block title %}Samos IT - Latest projects{% endblock %}
{% block content %}
{% for project in projects %}
  <h1 align="center"><a href="{{project.get_absolute_url}}">{{project.year}}: {{project.title}}</a></h1>
{% thumbnail project.image "600x200" crop="center" as im %}
    <center><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></center>
{% endthumbnail %}
  <div class="project-description">{{project.content|safe|truncatewords:"40"}} <a href="{{project.get_absolute_url}}">Read More >></a></div>
  <hr/>
  
  
{% endfor %}
{% endblock %}
