{% extends "master.html" %}
{% load article_tags i18n %}
{% block bodyclass %}page{% endblock %}

{% block body %}

  <div id="pagecontent" class="span-15 last">
    {% block content %}{% endblock %}
  </div>
  <div id="sidebar" class="prepend-1 span-6">
  {% block sidebar %}
      
      {% block recent_articles %}
      <div class="box">
        <div class="marry"></div>
          <h3>Recent Articles</h3>
            {% get_articles 10 as recent %}
            {% for article in recent %}
            {% if forloop.first %}<ul>{% endif %}
                <li><a href="{{ article.get_absolute_url }}" title="Read this article">{{ article.title }}</a></li>
            {% if forloop.last %}</ul>{% endif %}
            {% endfor %}
      </div>
      {% endblock %}
  
      {% block article_tags %}
      <div class="box">
          <h3>Tag Cloud</h3>
          <p>{% tag_cloud %}</p>
      </div>
          
      {% endblock %}
      <div class="box" id="article-archives">
          <h2 class="title">{% trans 'Article Archives' %}</h2>
          {% get_article_archives as archives %}
          {% for year in archives %}
          {% if forloop.first %}<ul>{% endif %}
              <li>
                  <strong>{{ year.0 }}</strong>
                  <ul class="months">
                  {% for month in year.1 %}
                      <li><a href="{% url articles_in_month month.year,month.month %}" title="{% trans 'View articles posted in this month' %}">{{ month|date:"N" }}</a></li>
                  {% endfor %}
                  </ul>
                  <div class="clear">&nbsp;</div>
              </li>
          {% if forloop.last %}</ul>{% endif %}
          {% endfor %}
      </div>
      
  {% endblock %}
  </div>


{% endblock %}
