{% extends "master.html" %}
{% load article_tags %}
{% block bodyclass %}page{% endblock %}

{% block body %}

  <div id="pagecontent" class="span-15 last">
    {% block content %}{% endblock %}
  </div>
  <div id="sidebar" class="prepend-1 span-6">
  {% block sidebar %}
      
      {% block recent_articles %}
      <div class="box">
          <h3>Recent Articles</h3>
            {% get_articles 10 as recent %}
            {% for article in recent %}
            {% if forloop.first %}<ul>{% endif %}
                <li><a href="{{ article.get_absolute_url }}" title="Read this article">{{ article.title }}</a></li>
            {% if forloop.last %}</ul>{% endif %}
            {% endfor %}
      </div>
      {% endblock %}
  
      {% block article_tags %}
      <div class="box">
          <h3>Tag Cloud</h3>
          <p>{% tag_cloud %}</p>
      </div>
          
      {% endblock %}
  {% endblock %}
  </div>


{% endblock %}
